# Server configurations
PORT=5000

# Database configurations
MONGO_URI=mongodb://127.0.0.1:27017/hirenova

# Security / Token configurations
JWT_SECRET=your_jwt_signing_secret_key_here

# Email SMTP configurations
EMAIL_USER=yourgmail@gmail.com
EMAIL_PASS=your_google_app_password
CLIENT_URL=http://localhost:5173

